body {
    background: white url("background.png");
}

.navbar {
    border-radius: 0;
}


.navbar-brand {
    font-family: 'Satisfy', cursive;
}

#special,#addTopic,#collapse{
	cursor:pointer;
}
#new,.pasokh,#newanswer{
	display:none;
}
.question,#ans{
	width:70%;
	display:inline;
}
#newanswer{
	position:fixed;
	 text-align: center;
	width:30%;
	min-height:15%;
	background-color:white;
	background-image:url("background.png");
	margin-top:2%;
	padding:2%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-color: grey;border-style: solid;border-radius: 15px;
	
}
#error{
	color:red;
	font-size:15px;
	padding:1%;
	
}
.centerr{
	text-align:center;
}