#x{
	background-image:url(background2.jpg);
 
	}
#loginForm input{

  display:block;
  margin-top:6px;
  margin-bottom:10px;
}

#loginForm{
  padding: 30px 20px 30px 20px;
  border: solid 1px;
  
  margin:auto;	
  background-color:rgb(140,140,140);
  width:210px;
}
#submit{
   float:right;
   color: black;
   font-size: 17px;
   margin-top:20px;
  }
  #forgotLink{
  text-decoration: none;
  color:rgb(112,222,222);
  }
    #forgotLink:hover{
  text-decoration: none;
  color:blue;
  }
  #sign-up{
  display:block;
   text-decoration: none;
  color:rgb(150,53,0);
  text-align: center;
  margin-bottom:20px;
  }
    #sign-up:hover{
  text-decoration: none;
  color:rgb(200,120,0);
  }