{% extends "base.html" %}
{% block content %}
    </div>
<div id="sheet" dir="rtl">
<form>
<div id="sh1">
<div style=" color:#222; padding:10px;"class="soal">

<li ><p>تست1<p></li><br>

<input type="radio" name="radiog_dark" id="radio6" class="css-checkbox" />
<label for="radio6" class="css-label radGroup2">گزینه ی اول</label>
<input type="radio" name="radiog_dark" id="radio5" class="css-checkbox"  checked="checked"/>
<label for="radio5" class="css-label radGroup2">گزینه ی دوم</label>

<input type="radio" name="radiog_dark" id="radio4" class="css-checkbox" />
<label for="radio4" class="css-label radGroup2">گزینه ی سوم</label>
</div>
<p class="sehat"> گزینه درست 3 است <p>
<div class="soal">
<li ><p>تست2<p></li><br>
<input type="radio" name="radiog_dark2" id="radio7" class="css-checkbox" />
<label for="radio7" class="css-label radGroup2">گزینه ی اول</label>
<input type="radio" name="radiog_dark2" id="radio8" class="css-checkbox" />
<label for="radio8" class="css-label radGroup2">گزینه ی دوم</label>


<input type="radio" name="radiog_dark2" id="radio9" class="css-checkbox" />
<label for="radio9" class="css-label radGroup2">گزینه ی سوم</label>
<p class="sehat"> گزینه درست 2 است <p>
</div>
<div class="soal">
<li ><p>تست3<p></li><br>
<input type="radio" name="radiog_dark3" id="radio10" class="css-checkbox" />
<label for="radio10" class="css-label radGroup2">گزینه ی اول</label>
<input type="radio" name="radiog_dark3" id="radio11" class="css-checkbox" />
<label for="radio11" class="css-label radGroup2">گزینه ی دوم</label>


<input type="radio" name="radiog_dark3" id="radio12" class="css-checkbox" />
<label for="radio12" class="css-label radGroup2">گزینه ی سوم</label>
<p class="sehat"> گزینه درست 3 است <p>
</div>
<div class="soal">
<li ><p>تست4<p></li><br>
<p class="javab"><input type=radio value="1" name="third"/ >یک</p>
<p class="javab"><input type=radio value="2" name="third"/ >دو</p>
<p class="javab"><input type=radio value="3" name="third"/>سه</p>
<p class="javab"><input type=radio value="4" name="third"/ >چهار</p>

</div>
</div>
<div id="sh2">
<div style=" color:#222; padding:10px;"class="soal">

<li ><p>تست5<p></li><br>

<input type="radio" name="radiog_dark4" id="radio13" class="css-checkbox" />
<label for="radio13" class="css-label radGroup2">گزینه ی اول</label>
<input type="radio" name="radiog_dark4" id="radio14" class="css-checkbox" checked="checked"/>
<label for="radio14" class="css-label radGroup2">گزینه ی دوم</label>


<input type="radio" name="radiog_dark64" id="radio15" class="css-checkbox" />
<label for="radio15" class="css-label radGroup2">گزینه ی سوم</label>
<p class="sehat"> گزینه درست3 است <p>
</div>

<div class="soal">
<li ><p>تست6<p></li><br>
<p class="javab"><input type=radio value="1" name="first"/ >یک</p>
<p class="javab"><input type=radio value="2" name="first"/ >دو</p>
<p class="javab"><input type=radio value="3" name="first"/>سه</p>
<p class="javab"><input type=radio value="4" name="first"/ >چهار</p>
</div>
<div class="soal">
<li ><p>تست<p></li><br>
<p class="javab"><input type=radio value="1" name="second"/ >یک</p>
<p class="javab"><input type=radio value="2" name="second"/ >دو</p>
<p class="javab"><input type=radio value="3" name="second"/>سه</p>
<p class="javab"><input type=radio value="4" name="second"/ >چهار</p>
</div>
<div class="soal">
<li ><p>تست<p></li><br>
<p class="javab"><input type=radio value="1" name="third"/ >یک</p>
<p class="javab"><input type=radio value="2" name="third"/ >دو</p>
<p class="javab"><input type=radio value="3" name="third"/>سه</p>
<p class="javab"><input type=radio value="4" name="third"/ >چهار</p>
<a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
</div>
</div>
  {% endblock content %}