{% extends "base.html" %}
{% block content %}



<div id="sh1">
<div style=" color:#222; padding:10px;"class="soal">
<li ><p>کلمه HTML مخفف کدام عبارت است :<p></li><br>
<input type="radio" name="radiog_dark" id="radio6" class="css-checkbox" />
<label for="radio6" class="css-label radGroup2">
Hyperlinks and Text Markup Language</label>
<input type="radio" name="radiog_dark" id="radio5" class="css-checkbox"  checked="checked"/>
<label for="radio5" class="css-label radGroup2">Hyper Text Markup Language</label>
<input type="radio" name="radiog_dark" id="radio4" class="css-checkbox" />
<label for="radio4" class="css-label radGroup2">Home Tool Markup Language</label>

<p class="sehat"> گزینه درست2 است <p>
    </div>
<div class="soal">
<li ><p>برای ایجاد بزرگترین سایز عنوان در HTML باید از کدام تگ استفاده نمود :<p></li><br>
<input type="radio" name="radiog_dark2" id="radio7" class="css-checkbox" />
<label for="radio7" class="css-label radGroup2">< head ></label>
<input type="radio" name="radiog_dark2" id="radio8" class="css-checkbox" />
<label for="radio8" class="css-label radGroup2">< h6 ></label>
<input type="radio" name="radiog_dark2" id="radio9" class="css-checkbox" />
<label for="radio9" class="css-label radGroup2">< h1 ></label>
<p class="sehat"> گزینه درست3 است <p>
</div>
<div class="soal">
<li ><p> برای رفتن به یک خط جدید باید از کدام تگ استفاده کرد :<p></li><br>
<input type="radio" name="radiog_dark3" id="radio10" class="css-checkbox" />
<label for="radio10" class="css-label radGroup2">< hr / ></label>
<input type="radio" name="radiog_dark3" id="radio11" class="css-checkbox" />
<label for="radio11" class="css-label radGroup2">< break ></label>


<input type="radio" name="radiog_dark3" id="radio12" class="css-checkbox" />
<label for="radio12" class="css-label radGroup2">< / br ></label>
<p class="sehat"> گزینه درست 3 است <p>
</div>
<div class="soal">
<li ><p>تست4<p></li><br>
<p class="javab"><input type=radio value="1" name="third"/ >یک</p>
<p class="javab"><input type=radio value="2" name="third"/ >دو</p>
<p class="javab"><input type=radio value="3" name="third"/>سه</p>
<p class="javab"><input type=radio value="4" name="third"/ >چهار</p>

</div>
</div>
<div id="sh2">
<div style=" color:#222; padding:10px;"class="soal">

<li ><p>کد صحیح برای تعیین پس زمینه رنگی برای یک عنصر کدام است ؟ :<p></li><br>

<input type="radio" name="radiog_dark4" id="radio13" class="css-checkbox" />
<label for="radio13" class="css-label radGroup2">< "body style="background-color:yellow ></label>
<input type="radio" name="radiog_dark4" id="radio14" class="css-checkbox" checked="checked"/>
<label for="radio14" class="css-label radGroup2">< "body background="yellow ></label>

<input type="radio" name="radiog_dark64" id="radio15" class="css-checkbox" />
<label for="radio15" class="css-label radGroup2">< "body style="background = yellow ></label>
<p class="sehat"> گزینه درست1 است <p>
</div>

<div style=" color:#222; padding:10px;"class="soal">
<li ><p>تست6<p></li><br>

<input type="radio" name="radiog_dark25" id="radio18" class="css-checkbox" />
<label for="radio18" class="css-label radGroup2">گزینه ی اول</label>
<input type="radio" name="radiog_dark25" id="radio16" class="css-checkbox" checked="checked"/>
<label for="radio16" class="css-label radGroup2">گزینه ی دوم</label>

<input type="radio" name="radiog_dark25" id="radio17" class="css-checkbox" />
<label for="radio17" class="css-label radGroup2">گزینه ی سوم</label>
<p class="sehat"> گزینه درست3 است <p>
</div>

<div class="soal">
<li ><p>تست<p></li><br>
<p class="javab"><input type=radio value="1" name="second"/ >یک</p>
<p class="javab"><input type=radio value="2" name="second"/ >دو</p>
<p class="javab"><input type=radio value="3" name="second"/>سه</p>
<p class="javab"><input type=radio value="4" name="second"/ >چهار</p>
</div>
<div class="soal">
<li ><p>تست<p></li><br>
<p class="javab"><input type=radio value="1" name="third"/ >یک</p>
<p class="javab"><input type=radio value="2" name="third"/ >دو</p>
<p class="javab"><input type=radio value="3" name="third"/>سه</p>
<p class="javab"><input type=radio value="4" name="third"/ >چهار</p>
</div>
</div>
{% endblock content %}