{% load staticfiles %}
 {% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Test</title>


    <link rel="icon" type="image/png" href="{% static "image/icon.png" %} ">

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %} ">
<script src="{% static "js/jquery.min.js" %} "></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/flipclock.css" %}">
<script src="{% static "js/flipclock.js" %}"></script>

<script src="{% static "js/testFrontControl.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "css/c.css" %}"/>
    <link rel="stylesheet" href="{% static "css/test.css" %}"/>

</head>

<body>

<header >
<ul style="z-index:1;">
  <li class="site"><a  href="#home" style="text-decoration:none;">Home Page</a></li>
  <li class="site"><a href="#exams"style="text-decoration:none;">Exams</a></li>
  <li class="site"><a href="#courses"style="text-decoration:none;">Courses</a></li>

  <li class="log"><a href="#login"style="text-decoration:none;">log in /sign up</a></li>
</ul>
</header>

<div id="pagingtion" class="btn-group-vertical">
<button id="m1" type="button" class="btn btn-primary btn-block" >سری اول</button>
<button id="m2" type="button" class="btn btn-primary btn-block " >سری دوم</button>
<button type="button" class="btn btn-primary btn-block disabled">سری سوم</button>
<button type="button" class="btn btn-primary btn-block disabled">سری چهارم</button>
</div>

<div id="sheet" dir="rtl">
<form>
{% block content %}

  {% endblock content %}

</div>

<div id="docker">

<div class="clock" ></div>
<button id="save" type="button" class="btn btn-success vasat"> Submit</button>
<button id="cancel"  type=button class="btn btn-danger vasat" > Cancel</button>
<button id="toggletimer" type="button" class="btn btn-warning vasat" style="" > Hide timer</button>
<p><p>
<div id="result" class="vasat">
result:
<br>
<br>
<div id="natije">

correct answers: 2<p><p>
score:  4
</p><br>
<p>Good job!<p>
</div>
</div>
</div>

<div id="blockedbg">
</div>
   <!-- alerts -->
<div id="savealert" class="warning" dir=rtl >
<p class="warning-onvan">
هشدار</p>
<hr>
<p>آیا از ثبت آزمون اطمینان دارید؟</p><br>
<button type="button" class="btn btn-success accept">بله</button>
<button type="button" class="btn btn-danger decline">خیر</button>
</div>
<div id="discardalert" class="warning" dir=rtl>
<p class="warning-onvan">
هشدار</p>
<hr>
<p>آیا می خواهید بدون ثبت پاسخ ها از آزمون خارج شوید؟</p><br>
<button type="button" class="btn btn-success " onclick="location.href='blank'">بله</button>

<button type="button" class="btn btn-danger decline">خیر</button>
</div>
<div id="timealert"class="warning" dir=rtl>
<p class="warning-onvan" >
هشدار</p>
<hr>
<p>زمان شما به پایان رسید</p><br>
<button type="button" class="btn btn-success accept" >تایید</button>
</div>

</form>

</body>
</html>

